
<div class="tabs">
  <ul id="tabs-nav">
    {% for block in section.blocks %}
    {% case block.type %}
      {% when 'tabs' %}
    <li><a href="#tab{{forloop.index}}">{{ block.settings.tab-heading }}</a></li>
    {% endcase %}
    {% endfor %}
  </ul> <!-- END tabs-nav -->

  <div id="tabs-content">
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'tabs' %}
    <div id="tab{{forloop.index}}" class="tab-content">
      <p>{{ block.settings.tab-content }}</p>
    </div>
    {% endcase %}
    {% endfor %}
  </div> <!-- END tabs-content -->
</div> <!-- END tabs -->


<style>
  /* Tabs */

</style>


{% schema %}
{
  "name": "Product Tabs",
  "tag": "section",
  "class": "product-tabs",
  "max_blocks": 5,
  "settings": [
  {
  "type": "text",
  "id": "tab-heading",
  "label": "Tab Heading",
  "default": "Find Out More"
  },
  {
    "type": "text",
    "id": "title",
     "label": "The title"
    }
  ],
  "blocks": [
  {
    "name": "Tabs",
    "type": "tabs",
    "settings": [
      {
        "type": "text",
        "id": "tab-heading",
        "label": "Tab Heading"
      },
      {
        "type": "textarea",
        "id": "tab-content",
        "label": "Tab Content"
      }
    ]
  }
],
"presets": [
{
  "name": "Product Tabs",
  "settings": {
     "title": "Product Tabs"
   },
  "blocks": [
    {
      "type": "tabs"
    },
    {
      "type": "tabs"
    }
  ]
}
]
}
{% endschema %}