  {% for block in section.blocks %}
  {% case block.type %}
    {% when 'tabs' %}
    <div class="tabs">
      <ul id="tabs-nav">
        <li><a href="#tab1">Sherry</a></li>
      </ul> <!-- END tabs-nav -->
      <div id="tabs-content">
        <div id="tab1" class="tab-content">
          <h2>Sherry</h2>
          <p>"You know, there's a million fine looking women in the world, dude. But they don't all bring you lasagna at work. Most of 'em just cheat on you."</p>
        </div>
      </div> <!-- END tabs-content -->
    </div> <!-- END tabs -->
  {% endcase %}
{% endfor %}



  {% schema %}
  {
      "name": "Product Tabs",
      "tag": "section",
      "class": "product-tabs",
      "max_blocks": 5,
      "settings": [
      {
      "type": "text",
      "id": "tab-heading",
      "label": "Tab Heading",
      "default": "Find Out More"
      },
      {
        "type": "text",
        "id": "title",
         "label": "The title"
        }
      ],
      "blocks": [
      {
        "name": "Tabs",
        "type": "tabs",
        "settings": [
          {
            "type": "text",
            "id": "tab-heading",
            "label": "Tab Heading"
          },
          {
            "type": "textarea",
            "id": "tab-content",
            "label": "Tab Content"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Product Tabs",
      "settings": {
         "title": "Product Tabs"
       },
      "blocks": [
        {
          "type": "tabs"
        },
        {
          "type": "tabs"
        }
      ]
    }
  ]
}
  {% endschema %}