.testimonial-grid {
    list-style: none;
}

.testimonial-grid li {
    padding-bottom: 10px !important;
    min-width: 100%;
}

.testimonial-grid .multicolumn-card {
    display: flex;
    flex-direction: row;
}

.media.media--transparent-custom.media--adapt img{
    max-width: 80px;
    height: 80px;
    left: 0;
    margin-left: 100px;
}

.media.media--transparent-custom.media--adapt {
    background: transparent;
}

.testimonial-li {
    height: 350px !important;
}

.multicolumn-card__image-wrapper_custom {
    width: 18%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}