.custom-header_color_active {
    background: transparent;
    position: absolute;
    min-width: 100%;
}

.custom-header_color {
    background: transparent;
    position: absolute;
    min-width: 100%;
}

.custom-header_color_remove {
    background: white;
    position: absolute;
    min-width: 100%;
}

.custom-header_items_active {
    color: white;
}

.header__heading span {
    color: white !important;
}

.list-menu.list-menu--inline span {
    color: white;
}

.header__icons svg {
    color: white;
}

.icon.icon-hamburger {
    color: white;
}

