


#shopify-section-template--15270096568471__1643053027c202a9fe .image-with-text__text-item{
    padding-top: 7%;
    z-index: 999;
}

#shopify-section-template--15270096568471__1643053027c202a9fe .image-with-text__media-item {
    padding-bottom: 5%;
}

#Slider-template--15270096568471__16422614307450613d {
padding-bottom: 50px;
padding-top: 10px;
}

.slider-mobile-gutter {
    padding: 0px 10px;
}

#Slider-template--15270096568471__16422614307450613d li {
    background-color: rgb(224, 224, 224);
    padding: 20px 20px;
}

#Slider-template--15270096568471__16422614307450613d li:not(:last-child) { 
    margin-left: 1px;
    margin-right: 9px; 
 }

 .card-wrapper {
     max-width: 100%;
 }

 .collection.page-width.page-width-desktop h2 {
     font-size: 32px !important;
     padding-top: 20px;
 }

 @media only screen and (min-width: 750px) {
     .image-with-text__media-item-mobile {
         display: none !important;
     }
     .image-with-text__media-second.image-with-text__media--small.media {
         margin-top: 3%;
         margin-left: -7%;
         margin-right: 7%;
     }
.custom-image_grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    list-style-type: none;
}
.image-with-text__media-item.image-with-text__media-item--medium.image-with-text__media-item--top.grid__item {
    flex: 0 0 100%;
    width: 50%;
}
.image-with-text__text-item.image-text_wrapper.textgrid__item {
    margin-top: -23%;
    margin-bottom: 23%;
    background-color: transparent !important;
    color: #000;
}
 }

@media only screen and (max-width: 750px) {
    .image-with-text__media-item  {
        display: none !important;
    }

    .image-with-text__media-mobile.image-with-text__media--large {
        height: 700px;
    }
    .image-with-text__media-mobile.image-with-text__media--large img {
        filter: brightness(75%);
    }
}