.custom-header_color_active {
    background: transparent;
    position: absolute;
    min-width: 100%;
}

.custom-header_color {
    background: transparent;
    position: absolute;
    min-width: 100%;
}

.custom-header_color_remove {
    background: white;
    position: absolute;
    min-width: 100%;
}





.custom-header_logo_active {
    color: white;
}

.custom-header_logo_remove {
    color: black !important;
}






.custom-header_icons_active {
    color: white;
}

.custom-header_icons_remove {
    color: black !important;
}



.header__icons svg {
    color: white;
}


.header__heading span {
    color: white;
}

.list-menu.list-menu--inline span {
    color: white;
}

.icon.icon-hamburger {
    color: white;
}

.icon.icon-close {
    color: black !important;
}

.icon.icon-search {
    color: black;
}

.menu-drawer {
    border: 0;
    top: 99%;
}

.modal__toggle-open.icon.icon-search {
    color: white;
}


@media only screen and (max-width: 750px) {
.menu-drawer {
    width: 100%;
    transform: translateY(-100%);
}

.list-menu__item {
    justify-content: center;
    padding: 40px 0px;
}

.js details[open] > .menu-drawer, .js details[open] > .menu-drawer__submenu {
    transition: transform var(--duration-long) ease, visibility var(--duration-long) ease;
}
}