@media only screen and (min-width: 750px) {
.hero-video_wrapper {
    display: none;
}
.banner.banner--content-align-left.banner--content-align-mobile-center.banner--large.banner--desktop-transparent {
    margin-top: 75px;
    margin-left: 60px;
    margin-right: 60px;
    height: calc(100vh - 130px);
    
}
.banner__box {
    position: absolute;
    left: 3%;
}
.button.button--primary {
    background: black !important;
    color: white !important;
}
}

@media only screen and (max-width: 750px) {
.banner__media.media {
    display: none;
}
.hero-video {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
}
}
