@media only screen and (min-width: 750px) {
    #custom-header {
        padding-left: 65px;
        padding-right: 65px;
    }
    .header__heading-logo {
        display: none;
    }
    .header__heading-logo_2 {
        display: initial;
    }
    .header__icon .icon {
        width: 2.2rem;
        height: 2.2rem;
    }
    .header__icon, .header__icon--cart .icon {
        width: 4.6rem;
        height: 4.6rem;
    }
    #logo-name_custom {
        color: black;
    }
    .list-menu.list-menu--inline span {
        color: black;
    }
    #header-icons_custom {
        color: black;
    }
    #header-icons_custom_cart {
        color: black;
    }
    #header__heading-logo {
        color: black;
    }
    .banner__heading.h1 span {
color: black;
    }
    .banner__text.subtitle span {
        color: black;
    }
    .banner__buttons a {
        color: white;
        background-color: black;
        border: 0;
        box-shadow: 0 !important;
    }
    .banner__heading.h0 span {
        color: black;
    }
    .subtitle {
        font-size: 2rem;
    }
}


@media only screen and (min-width: 750px) and (max-width: 990px) {
    .header--middle-left {
        grid-template-areas: 'navigation heading icons';
        grid-template-columns: auto 1fr auto;
    }
}

@media only screen and (max-width: 750px) {

.header__heading-logo_2 {
    display: none;
}

    .custom-header_logo_active {
    color: white;
}

.custom-header_logo_remove {
    color: black !important;
}

.black-header_logo_remove {
    display: initial !important;
}

.white-header_logo_remove {
    display: none !important;
}





.custom-header_icons_active {
    color: white;
}

.custom-header_icons_remove {
    color: black !important;
}




.header__icons svg {
    color: white;
}


.header__heading span {
    color: white;
}

.list-menu.list-menu--inline span {
    color: white;
}

.icon.icon-hamburger {
    color: white;
}

.icon.icon-close {
    color: black !important;
}

.icon.icon-search {
    color: black;
}

.menu-drawer {
    border: 0;
    top: 99%;
}

.modal__toggle-open.icon.icon-search {
    color: white;
}



.menu-drawer {
    width: 100%;
    transform: translateY(-100%);
}

.list-menu__item {
    justify-content: center;
    padding: 40px 0px;
}

.js details[open] > .menu-drawer, .js details[open] > .menu-drawer__submenu {
    transition: transform var(--duration-long) ease, visibility var(--duration-long) ease;
}
}



.custom-header_color_active {
    background: transparent;
    position: absolute;
    min-width: 100%;
}

.custom-header_color {
    background: transparent;
    position: absolute;
    min-width: 100%;
}

.custom-header_color_remove {
    background: white;
    position: absolute;
    min-width: 100%;
}

.list-menu__item {
    font-size: 1.8rem;
}

.sticky-header {
    background: white;
    position: fixed;
    z-index: 999;
}

#custom-header.sticky-header .list-menu.list-menu--inline span {
    color: black;
}

#custom-header.sticky-header .header__heading-logo {
    display: none;
}

#custom-header.sticky-header .header__heading-logo_2 {
    display: initial;
}

#custom-header.sticky-header .header__icons svg {
    color: black;
}
#custom-header.sticky-header .header__heading span {
    color: black;
}

#custom-header.sticky-header .icon-hamburger {
    color: black;
}
